$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  ),
  url('https://i.imgur.com/qmUZVdb.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.user-message {
  display: none;
}

// message styling for users logged in
#user-message {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  position: absolute;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: left;
  left: 45%;
  width: 80%;
  transform: translate(-50%, -50%);
}

// the display for the hikes content, adds transparent box behind it
.content {
  background: rgba(255, 255, 255, 0.70);
}

// spacing for fields in modal form
.sign-up-form,
.create-hike-form,
.update-hike-form {
  padding-left: 20px;
}

// buttons tthat are hidden at start screen
.hidden-buttons {
  display: none;
  padding-top: 30px;
}

// navbar options that are hidden at start
#change-pwd-dropdown,
#sign-out-link {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 720px;
}

td,
th {
  border: 1px solid #CCC;
  height: 30px;
}

th {
    background: #DFDFDF;
    font-weight: bold;
}

td {
  text-align: left;
}

.navbar {
  background: rgba(255, 255, 255, 0.70);
  border: none;
  padding: 5px;
}

.navbar-brand {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 25px;
  font-weight: bold;
}

#myNavbar {
  font-size: 15px;
}

#title {
   color: white;
   font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
   position: absolute;
   text-align: center;
   top: 40%;
   left: 50%;
   width: 80%;
   transform: translate(-50%, -50%);
}

#sub-heading {
  color: white;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

#sign-up {
  color: white;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

// box surrounding messages
#title span,
#sub-heading span,
#sign-up span {
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.25);
  padding: 15px;
}
