$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ),
  url('https://i.imgur.com/8blmuze.jpg');
  // background-image: url('https://i.imgur.com/8blmuze.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.content {
  background: rgba(255, 255, 255, 0.70);
}

.collection {
  margin-top: 40px;
}

.sign-up-form,
.create-hike-form,
.update-hike-form {
  padding-left: 20px;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

.navbar {
  background: rgba(255, 255, 255, 0.65);
  // background: rgba(0, 0, 0, 0.7);
}

.nav {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: bold 30px;
}

#title {
   color: white;
   font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
   position: absolute;
   text-align: center;
   top: 40%;
   left: 50%;
   width: 100%;
   transform: translate(-50%, -50%);
}

#sub-heading {
  color: white;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#sign-up {
  color: white;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#title span,
#sub-heading span,
#sign-up span {
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.container-fluid {
  font-family: Tahoma, Geneva, sans-serif;
}
