$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  ),
  // url('https://i.imgur.com/8blmuze.jpg');
  url('https://i.imgur.com/SkT3zkZ.jpg');
  // background-image: url('https://i.imgur.com/8blmuze.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

// hide user messages for log in, change password
.user-message {
  display: none;
}

// message styling for users logged in
#user-message {
  color: black;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  position: absolute;
  text-align: left;
  left: 45%;
  width: 80%;
  transform: translate(-50%, -50%);
}

// the display for the hikes content, adds transparent box behind it
.content {
  background: rgba(255, 255, 255, 0.70);
}

.collection {
  margin-top: 40px;
}

// spacing for fields in modal form
.sign-up-form,
.create-hike-form,
.update-hike-form {
  padding-left: 20px;
}

// buttons tthat are hidden at start screen
#hide-hikes,
#get-hikes,
.new-hike-button {
  display: none;
}

// navbar options that are hidden at start
#change-pwd-dropdown,
#sign-out-link {
  display: none;
}

// th, td {
//   border-bottom: 1px solid #ddd;
//   padding: 15px;
//   height: 15px;
//   width: 25px;
//   text-align: left;
// }

td {
  height: 15px;
  width: 20px;
}

table {
  border-collapse: collapse;
  left: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  padding-top: 100px;
  top: 50px;
}

.navbar {
  background: rgba(255, 255, 255, 0.65);
  border: none;
  padding: 5px;
}

#title {
   color: white;
   font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
   position: absolute;
   text-align: center;
   top: 40%;
   left: 50%;
   width: 80%;
   transform: translate(-50%, -50%);
}

#sub-heading {
  color: white;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

#sign-up {
  color: white;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

// box surrounding messages
#title span,
#sub-heading span,
#sign-up span,
#user-message span {
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.25);
  padding: 15px;
}

// .container-fluid {
//   font-family: Tahoma, Geneva, sans-serif;
// }
